h1 {
  text-align: center;
  background-color: darkgray;
}

#loder {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 20px solid greenyellow;
  border-right: 20px solid black;
  animation: loderAnimation 1s
  ease-in-out infinite;
}

@keyframes loderAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
